    @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
      html,
      body {
        position: relative;
        overflow-x: hidden;
      }

      .card-img-top {
        width: 200px;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
      }


      body {
        font-family: 'Cabin', sans-serif;
        width: 100%;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        background-color: #f1f1ff;
        margin: 0;
        padding: 0;
      }

      .navbars{
        background-color: #c40464;
      }

      a{
        text-decoration: none;
      }

      

      .slick-prev, .slick-next{
      background: #000;
      border-radius: 15px;
      border-color: transparent;
    }
      .slick-slide{
      margin:10px;
    }

    

      .logo i{
        padding: 10px;  
        font-size: 15px;
      }

      .title{
        display: flex;
        font-size: 15px;
        padding: 15px;
        align-items: center;
      }
      .title h3{
        font-size: 34px;
      }

      .srcs[type=search]{
        border-radius: 20px;
      }

      .swiperp {
        width: 85%;
        height: 70%;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        font-size: 18px;
        background: #f8f8ff;
        justify-content: center;
        align-items: center;
      }
      .swpr{
        background: #f8f8ff;
      }

      .swpr a{
        color: #000;
      }

      .swpr a:hover{
        color: #6d6d6d;
      }

       .text{
        width: 100%;
        padding: 8px 0;
        background: rgb(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0px;
        text-align: justify;
        border-radius: 0 0 5px 5px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

     .crds a:hover{
       color: #000;
     }

      .info{
        width: 100%;
        padding: 8px 0;
        position: absolute;
        top: 280px;
        border-radius: 0 0 5px 5px;
      }

      .info h2{
        font-size: 40px;
      }

      .info a{
        color: white;
        text-decoration: none;
      }

      .media img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
      }

      .sa{
        margin-left: 380px;
        margin-bottom: 20px;
      }

      .carousel .carousel-item img {
            height: 160px;
            object-fit: cover;
        }

      .carousel .carousel-item img {
            height: 160px;
            object-fit: cover;
        }

        .dropdown-item:hover{
          background-color: #0d0e0f;
          color: white;
        }

        .dropdown-menu{
          background-color: #0f1a2b;
          color: white;
        }

        .text-ko{
          border-radius: 20px;
          justify-content: center;
          margin-top: 8px;

        }      

        .ittm a{
          color:#000000;
        }

        .ittm a:hover{
          color: #2867db;
        }
        .qqw a{
          color:#000000;
        }

        .qqw a:hover{
          color: #2867db;
        }
        
        


        .crds a:hover{
          color: #000;
        }


        .carousel-control-next{
          top: -3%;
          height: 40px;
          width: 40px;
          right: 10%;
          border-radius: 25px;
        }
        .carousel-control-prev{
          left: 80%;
          top: -3%;
          height: 40px;
          width: 40px;
          border-radius: 25px;
        }
        

        .dropdown:hover > .dropdown-menu{
          display: block;
        }

        .kartu img{
          width: 100%;
          height: 160px;
          object-fit: cover;
        }

        .karus img{
          width: 100%;
          height: 100%;
        }

      .center{
        width: 75%;
      }

      .crds {
        padding: 80px;
        top: 320px;
        position: absolute;
        background: rgb(0, 0, 0, 0.4);
        width: 600px;
        border-radius: 10px;
      }

      .xlf p a{
        color: #000;
      }

      .xlf p a:hover{
        color: #be3333;
        transition: 0.2s;
      }

      a:hover{
        color: #c5c5c5;
        transition: 0.2s;
      }

      .imb a{
        color: #000;
      }
      .imb a:hover{
        color: rgb(131, 131, 131);
      }

      .cri a{
        color: #000;
      }

      .cri a:hover{
        color: #d3cfcf;
        transition: 0.2s;
      }
      .crdf a:hover{
        color: #be3333;
        transition: 0.2s;
      }

      .crdf a{
        color: rgb(15, 15, 15);
      }
      .ckrt a:hover{
        color: #be3333;
        transition: 0.2s;
      }

      .ckrt a{
        color: rgb(15, 15, 15);
      }

      .frts{
        top: 300px;
        position: absolute;
        background: rgb(0, 0, 0, 0.5);
      }
      .frtss{
        top: 230px;
        position: absolute;
        background: rgb(0, 0, 0, 0.5);
      }

      a{  
      position: relative;
      color: white;
      }

      


      @media (max-width: 1199px){
        .rts{
          display: none;
        }

        .frameYt{
        margin-left: 100px;
      }

      .crds{
        top: 210px;
        width: 450px;
        padding: 10px;
        
      }

      

    }

      @media (max-width: 768px) { 

      .karus img{
        object-fit: cover;
        width: 100%;
        height: 400px;
      }

      .center{
        width: 100%;
      }

      .crds {
        width: 270px;
        top: 230px;
        padding: 10px;
        background-color: rgb(0, 0, 0, 0.3);
      }


        .slick-prev, .slick-next{
          background: #000;
          border-radius: 15px;
          margin: 15px;
          border-color: transparent;
        }

      
        .rts{
          display: none;
        }

        .qq{
       display: none; 
      }
        html,
        body {
        position: relative;
        
      }


        .sa{
          margin-left: 1px;
        }

        .logo{
          display: none;
         }

         .date{
           display: none;
         }

         .top{
           height: 80px;
         }
         .bbn{
           margin-top: 10px;
         }

         .frameYt{
        margin-left: 0px;
      }
        
        }